body {
    background-color: #111111;
    font-size: 20px;
}

/* change the DataTable pagination component styles */
.dash-table-container .previous-next-container {
    color: white;
}

.dash-table-container .previous-next-container input.current-page {
    width: 50px !important;
    font-size: 15px !important;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    color: #acacac;
}
